<p id="notice"><%= notice %></p>
<p>
  <b>Cost for retreat:</b>
$<%= @family.total_cost %><br />
<% if @family.created_at > '2014-09-01 00:00:00 -0500' %><i>includes a late fee of $5 per person</i><% end %>
</p>
<p>
<% if @family.people.size < @family.total_registrants %>It looks like you have registered more people in the accommodations section than you've told us are in your family. You might be overpaying. Please double check this. <%= link_to 'Click here to edit.', edit_family_path(@family) %> <% end %>

<p>
  <% if @family.email %>
    <b>Email address:</b>
    <%= @family.email %>
  <% end %>
<p>
<b>Food to bring:</b>
<% if @family.friday_supper > 0 %>
Food for potluck
<% end %>
<% @family.food_items.each do |fi| %>
  <%= fi.description %><br />
<% end %>
</p>
<p>
<b>Volunteer shifts:</b><br />
<% @family.volunteer_tasks.each do |vt| %>
  <%= vt.job_label %><br />
  <i><%= vt.job_description %></i><br /><br />
<% end %>
</p>
<p><b>Family name: </b>
  <%= @family.family_name %>
</p>
<p>
  <b>Family members: </b>
  <%= @family.people.map(&:first_name).join(", ") %>
</p>
<p>
  <b>Accomodations:</b>
  <ul>
    <li>Cabin: <%= @family.cabin %></li>
    <li>Camping: <%= @family.camp %></li>
    <li>Daytime (full weekend): <%= @family.day_full_weekend %></li>
    <li>Daytime (partial weekend): <%= @family.day_partial_weekend %></li>
  </ul>
</p>
<p>
  <b>Meals</b>
  <ul>
    <li>Friday supper: <%= @family.friday_supper %></li>
    <li>Friday snack: <%= @family.friday_snack %></li>
    <li>Saturday breakfast: <%= @family.saturday_breakfast %></li>
    <li>Saturday lunch: <%= @family.saturday_lunch %></li>
    <li>Saturday dinner: <%= @family.saturday_dinner %></li>
    <li>Saturday snack: <%= @family.saturday_snack %></li>
    <li>Sunday breakfast: <%= @family.sunday_breakfast %></li>
    <li>Sunday lunch: <%= @family.sunday_lunch %></li>
  </ul>
</p>
<p>
  <b>Contribution:</b>
  <%= @family.contribution %>
</p>

<p>
  <b>Paid:</b>
  <%= @family.paid %>
</p>


<p>
  <b>Allergies:</b>
  <%= @family.allergies %>
</p>


<%= link_to 'Edit', edit_family_path(@family) %> 
<% unless @family.paid == true %>
<h3><%= link_to 'Click here to pay now with PayPal', @family.paypal_url(families_url) %></h3>
<% end %>
