<h2> Food Committee Total Numbers:</h2>
<div id="numbers">
<p>
<b>Friday Supper</b>
<%= @families.map(&:friday_supper).sum %>
</p>
<p>
<b>Friday Snack</b>
<%= @families.map(&:friday_snack).sum %>
</p>
<p>
<b>Saturday Breakfast</b>
<%= @families.map(&:saturday_breakfast).sum %>
</p>
<b>Saturday Lunch</b>
<%= @families.map(&:saturday_lunch).sum %>
</p>
<p>
	<b>Saturday Dinner</b>
	<%= @families.map(&:saturday_dinner).sum %>
</p>
<p>
	<b>Saturday Snack</b>
	<%= @families.map(&:saturday_snack).sum %>
</p>
<p>
	<b>Sunday Breakfast</b>
	<%= @families.map(&:sunday_breakfast).sum %>
</p>
<p>
	<b>Sunday Lunch</b>
	<%= @families.map(&:sunday_lunch).sum %>
</p>
</div>
<div id="allergies">
<p>
<h3>Allergies:</h3>
<% @families.each do |f| %>
  <% if f.allergies %>
  	<% if f.allergies.length > 1 %>
      <%= f.allergies %><br />
    <% end %>
  <% end %>
<% end %>
</p>
</div>

<div id="requests">
	<h3>Items Requested</h3><br />
		<i>For the sake of simplicity, this table lists only the first person from each family.</i>

<table border="1">
<th>Item</th>
<th># Pledged</th>
<th># Requested</th>
<th>Who is bringing</th>
<th></th>
<% @food_items.each do |fi| %>
  <tr>
  <td><%= fi.description %></td>
  <td><%= fi.food_promises_count %></td>
  <td><%= fi.requested %></td>
  <td><% fi.food_promises.each do |fp|%><% if fp.family %><%= fp.family.people[0].first_name %> <%= fp.family.people[0].last_name %><% end %><br /><% end %>
  <td><%= link_to 'Edit', edit_food_item_path(fi) %>  <%= link_to 'Destroy', fi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= link_to "Add food item", new_food_item_path %>
</div>

