<h2>Retreat Committee</h2>
<p><h3>Total numbers:</h3><br />
<b>Camping:</b>
<%= @families.map(&:camp).sum %><br />
<b>Cabin:</b>
<%= @families.map(&:cabin).sum %><br />
<b>Day (Full Weekend)</b>
<%= @families.map(&:day_full_weekend).sum %><br />
<b>Day (Partial Weekend)</b>
<%= @families.map(&:day_partial_weekend).sum %><br />

<div id="requests">
	<h3>Volunteer Tasks</h3><br />
	<i>For the sake of simplicity, this table lists only the first person from each family.</i>
<table border="1">
<th>Task</th>
<th># Pledged</th>
<th># Requested</th>
<th>Who is doing</th>
<th></th>
<% @volunteer_tasks.each do |vj| %>
  <tr>
  <td><%= vj.job_label %></td>
  <td><%= vj.volunteer_promises_count %></td>
  <td><%= vj.requested %></td>
  <td><% vj.volunteer_promises.each do |vp|%><% if vp.family %><%= vp.family.people[0].first_name %> <%= vp.family.people[0].last_name %><% end %><br /><% end %>
  <td><%= link_to 'Edit', edit_volunteer_promise_path(vj) %>  <%= link_to 'Destroy', vj, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= link_to "Add volunteer task", new_volunteer_task_path %>
</div>
