<h1>Listing food promises</h1>

<table>
  <% @food_promises.each do |food_promise| %>
  

  <tr>
   
    <td><%= food_promise.food_item.description %></td>
    <td><%= link_to 'Show', food_promise %></td>
    <td><%= link_to 'Edit', edit_food_promise_path(food_promise) %></td>
    <td><%= link_to 'Destroy', food_promise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr><br />
<% end %>
</table>
<% end %>
<br />

<%= link_to 'New Food promise', new_food_promise_path %>
