<h1>Listing food promises</h1>

<table>
  <% @food_promises.each do |food_promise| %>
  

  <tr>
    <td><% unless food_promise.family.nil? %> <%= food_promise.family.family_name %><% end %></td>
    <td><% unless food_promise.food_item.nil? %><%= food_promise.food_item.description %><% end %></td>
    <td><%= link_to 'Show', food_promise %></td>
    <td><%= link_to 'Edit', edit_food_promise_path(food_promise) %></td>
    <td><%= link_to 'Destroy', food_promise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr><br />
<% end %>
</table>

<br />

<%= link_to 'New Food promise', new_food_promise_path %>
