<!DOCTYPE html>
<html>
<head>
  <title>CMC Retreat</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "greenpiece" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="topimg">
  	
  </div>
  
  <div style="clear:both;"></div>
  <div id="sidebar">
  	<div class="sidemenu">
  		
    <i>O come, let us sing unto the Lord: let us make a joyful noise to the rock of our salvation.<br />
      Psalm 95:1</i>

    </div>
  	<div class="sidemenu">
      <ul>
        <li><%= link_to 'Schedule', :controller => "static_pages", :action => "schedule" %></li>
        <li><%= link_to 'General Info',:controller => "static_pages", :action => "info" %></li>
        

        <li><%= link_to 'Register', new_family_path %></li>
        <li><a href="http://overlookretreatandcampministries.weebly.com/directions.html">Directions</a></li>
        <li><a href="mailto:gjyoder@gmail.com">Contact Retreat Committee</a> </li>
      </ul>
    </div>
  </div>
  <div id="content">
    <%= yield %>
  </div>

</body>
</html>
